# -----------------------------------------------------------------
# StarTrack / AusPost API Credentials
# -----------------------------------------------------------------
AUSPOST_API_KEY=8ba91b84-ca46-40e6-9680-77e55e3c5942
AUSPOST_PASSWORD=kE1Rt1ualfjjL2ESLLB4
AUSPOST_BASE_URL=https://digitalapi.auspost.com.au/test/shipping/v1
AUSPOST_ACCOUNT_NO=04456017

# -----------------------------------------------------------------
# TNT Credentials
# -----------------------------------------------------------------
TNT_USERNAME=CIT00000000000134449
TNT_PASSWORD=88TZ7BCAxx
TNT_ACCOUNT_NO=30023444
TNT_BASE_URL=https://express.tnt.com/expressconnect/track.do

# -----------------------------------------------------------------
# SQL SKU API Data Source
# -----------------------------------------------------------------
SQL_PRODUCT_SOURCE_URL=https://tinyurl.com/2zp5p54a
